
<nav class="navbar navbar-inverse navbar-custom" navbar-fixed-top>
    <div class="container-fluid navbar-inner">
    
        <!--Normal-->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span id="Menu1" class="icon-bar"></span>
                <span id="Menu2" class="icon-bar"></span>
                <span id="Menu3" class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/home"><span class="glyphicon glyphicon-home"></span> HOME</a>
        </div>

        <!--Collapsed-->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a id="Menu1" href="/list">Task List</a></li>
                <li><a id="Menu2" href="/progress">Progress</a></li>
                <li><a id="Menu3" href="/completedtasks">Completed Tasks</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" margin=auto>
                <li id="Menu5"><a href="/deletecookie">LogOut</a></li>
            </ul>
        </div>
    </div>
</nav>