<!DOCTYPE html>
<html lang="en">
<head>
	<title>TaskLite</title>

	<!-- References a Handlebars partial in views/partials/head.handlebars -->
	{{>Head}}
</head>

<body>

	<!-- References a Handlebars partial in views/partials/bsnavbar.handlebars -->

	<!-- The HTML for each view goes here -->
	{{{body}}}
</body>
</html>
