
<nav class="navbar navbar-inverse navbar-custom" navbar-fixed-top>
    <div class="container-fluid navbar-inner"> 
        <!--Normal-->
        <div class="navbar-header">

            <a class="navbar-brand navbar-nohov">Taski</a>
        </div>
    </div>
</nav>

<body style="background-image: url(img/bgcolorgeo.jpg); background-size: cover;">
<!--Create Account Panel-->
<center>
<div class="container">
		<div class="accountbox">
			<h1>
			Create Your Account
			</h1>

			<!--make all the combinations of possible empty answers.
			 create a border.-->

		 <!-- Make bootstrap error messages -->

			<script type="text/javascript">

					function validate()
						{
						if(document.myForm.firstname.value =="")
						{ 
								//alert("Please enter your first name.")						
								return false;
						}
						else if(document.myForm.lastname.value =="")
						{
								//alert("Please enter your last name.")
								return false;
						}
						else if(document.myForm.pwd.value =="")
						{
								//alert("Please enter a password.")
								return false;
						}
						else if(document.myForm.pwd1.value =="")
						{
								//alert("Please re-enter your password.")
								return false;
						}
						else if(document.myForm.email.value =="")
						{
								//alert("Please enter your email.")
								return false;
						}
						else if(!isNaN(document.myForm.firstname.value))
						{
								//alert("Please enter a valid first name.")
								return false;
						}
						else if(!isNaN(document.myForm.lastname.value))
						{
								//alert("Please enter a valid last name.")
								return false;
						}	 
						else if(document.myForm.pwd.value != document.myForm.pwd1.value)
						{
								alert("Passwords do not match.")
								return false;
						}
						else
						{
								return true;
						}
					}
					
			</script> 

			<form name="myForm" method="post" action="/addaccount" class="form-horizontal" role="form" style="font-size:11.5px; text-align: center;" >
			 <br><br>
					<div class="form-group">
						<label class="control-label col-sm-2" for="firstname">First:</label>
						<div class="col-sm-10">
								<input type="text" name="firstName" class="form-control" id="firstname" placeholder="Enter first name" minlength="2" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Password:</label>
						<div class="col-sm-10">
								<input type="password" name="pwd" class="form-control" id="pwd" placeholder="Enter password" minlength="6" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd1">Confirm:</label>
						<div class="col-sm-10">
								<input type="password" name="pwd2" class="form-control" id="pwd1" placeholder="Confirm password" minlength="6" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-10">
								<input type="text" name="email" class="form-control" id="email" placeholder="Enter email" required>
						</div>
					</div>

					<div class="submit">
						<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-info" onclick="validate()">Submit</button>
								</div>
						</div>
					</div>

						<p>
						Already a member? Log in
						<a href="/login"> here.</a>
					</p>

					<div class="alert alert-danger fade in" id="login-error" style="display:none;">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					Please fill in the remaining fields.
			 </div>

		</form>
</div>
</center>
</body>