
<nav class="navbar navbar-inverse navbar-custom" navbar-fixed-top>
    <div class="container-fluid navbar-inner"> 
        <!--Normal-->
        <div class="navbar-header">

            <a class="navbar-brand navbar-nohov">Taski</a>
        </div>
    </div>
</nav>

<body style="background-image: url(img/jorge.jpg); background-size: cover;">
<!--Create Account Panel-->
<center>
<div class="container">
    <div class="accountbox">
        <h1>
            Log In
        </h1>

        <form name= "myForm" method="post" action="/checkLogIn" class="form-horizontal" role="form" style="font-size:11.5px; text-align: center;" >
            <br><br>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="text" name=email class="form-control" id="email" placeholder="Enter email" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name=pwd class="form-control" id="pwd" placeholder="Enter password" required>
                </div>
            </div>

            <div class="submit">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>

            <p>
                Not a member yet? Create your account now!<a href="/createaccount"> here. </a>
            </p>

            {{#if wrongLogin}}
            <div class="alert alert-danger" id="login-error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Wrong email or password
            </div>
            {{/if}}
        </form>
    </div>
</div>
</body>